.navContent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* height: 11vh; */
    
}

.navBackground{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: black;
    height: 11vh;

    /* Animation */
    transition: all 0.5s ease-in;
}


.logo{
    width: 7%;
    position: fixed;
    left: 20px;
    top: 20px;
    cursor: pointer;
}

.avatar{
    width: 2.5%;
    position: fixed;
    right: 20px;
    top: 13px;
    /* top: 10px; */
    cursor: pointer;
}